* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #0e174c, #190b22);
    overflow: hidden;
}

.page {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    animation: fadeIn 1s;
}

.logo {
    position: absolute;
    top: 72px;
    right: 68px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.6em;
    align-self: flex-end;
    margin: 0;
    color: #FFD029;
    text-transform: uppercase;
}

.planets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 68px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.planet {
    border-radius: 50%;
    animation: fadeIn 1s;
}

.planet:hover {
    border-radius: 50%;
    animation: fadeIn 1s;
    box-shadow: #000 0px 0px 0px 2px, #fff 0px 0px 0px 3px;
}

.planet--solis {
    background: #FFD029;
    box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
    transition: all 0.25s ease-in;
}

.planet--mercurialis {
    width: 14px;
    height: 14px;
    background-color: #888888;
    --shadow-color-1: #88888820;
    --shadow-color-2: #88888810;
}

.planet--venus {
    width: 26px;
    height: 26px;
    background-color: #E7CDCD;
    --shadow-color-1: #E7CDCD20;
    --shadow-color-2: #E7CDCD10;
}

.planet--tellus {
    width: 28px;
    height: 28px;
    background-color: #428ED5;
    --shadow-color-1: #428ED520;
    --shadow-color-2: #428ED510;
}

.planet--mars {
    width: 14px;
    height: 14px;
    background-color: #EF5F5F;
    --shadow-color-1: #EF5F5F20;
    --shadow-color-2: #EF5F5F10;
}

.planet--lovis {
    width: 188px;
    height: 188px;
    background-color: #E29468;
    --shadow-color-1: #E2946820;
    --shadow-color-2: #E2946810;
}

.planet--saturnus {
    width: 144px;
    height: 144px;
    background-color: #C7AA72;
    --shadow-color-1: #C7AA7220;
    --shadow-color-2: #C7AA7210;
}

.planet--saturnus>aside {
    width: 220px;
    height: 6px;

    position: relative;
    top: 50%;
    right: 35px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.4);
    transform: rotate(-30deg);
}

.planet--uranus {
    width: 66px;
    height: 66px;
    background-color: #C9D4F1;
    --shadow-color-1: #C9D4F120;
    --shadow-color-2: #C9D4F110;
}

.planet--neptunus {
    width: 66px;
    height: 66px;
    background-color: #7A91A7;
    --shadow-color-1: #7A91A720;
    --shadow-color-2: #7A91A710;
}

.planet--active {
    box-shadow: 52px 0px var(--shadow-color-1), 104px 0px var(--shadow-color-2);
    transition: all 0.25s ease-in;
}

.star {
    position: absolute;
    left: -900px;
    width: 1000px;
    height: 1200px;
    border-radius: 100%;
    align-self: center;
    animation: ease-in;
}

.footer-logo {
    position: absolute;
    bottom: 3rem;
    right: calc(50% - 40px);
}

.hidden {
    display: none !important;
}

#planet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation: fadeIn 1s;
    margin: auto auto;
}

.bg--stars {
    background-image: url("../images/stars.svg");
    background-size: 78vw;
    background-repeat: no-repeat;
    background-position: 80% 50%;
}

.planet__information {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.planet__name {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.planet__description {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    color: #fff;
    max-height: calc(100vh - 550px);
    overflow: auto;
}

.planet__dataset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.planet__data-entry {
    display: flex;
    flex-direction: column;
}

.planet__data-title {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 0;
}

.planet__data {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    margin-top: 4px;
}

.planet__moons {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.unit--c::after {
    content: 'C';
}

.unit--km::after {
    content: ' km';
}

.unit--days::after {
    content: ' dag(ar)';
}
